.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a192f;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #64ffda;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 16px;
  font-size: 18px;
  color: #64ffda;
}
