@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 3rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .btn-color-1,
  .btn-color-2 {
    border: #64ffda 0.1rem solid;
    color: #64ffda;
  }

  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }

  .btn-color-2:hover {
    background: #0a192f;
    color: #64ffda;
  }
  .btn-color-1 {
    background-color: #e6f1ff;
    color: #0a192f;
    border: 1px solid #64ffda;
  }
  .btn-color-1:hover {
    background: #0a192f;
    color: #64ffda;
    border: 2px solid #64ffda;
  }

  .btn-color-2 {
    background: none;
  }

  .btn-color-2:hover {
    border: #64ffda 0.1rem solid;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #profile {
    margin-top: 200px;
    height: 83vh;
    margin-bottom: 3rem;
  }
  .btn-color-1,
  .btn-color-2 {
    border: #64ffda 0.1rem solid;
    color: #64ffda;
  }

  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }

  .btn-color-2:hover {
    background: #0a192f;
    color: #64ffda;
  }
  .btn-color-1 {
    background-color: #e6f1ff;
    color: #0a192f;
    border: 1px solid #64ffda;
  }
  .btn-color-1:hover {
    background: #0a192f;
    color: #64ffda;
    border: 2px solid #64ffda;
  }

  .btn-color-2 {
    background: none;
  }

  .btn-color-2:hover {
    border: #e6f1ff 0.1rem solid;
  }
}

@media screen and (max-width: 600px) {
  #contact {
    height: 40vh;
  }
  #profile {
    margin-top: 200px;
    height: 83vh;
    margin-bottom: 3rem;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .btn-color-1,
  .btn-color-2 {
    border: #64ffda 0.1rem solid;
    color: #64ffda;
  }

  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }

  .btn-color-2:hover {
    background: #0a192f;
    color: #64ffda;
  }
  .btn-color-1 {
    background-color: #e6f1ff;
    color: #0a192f;
    border: 1px solid #64ffda;
  }
  .btn-color-1:hover {
    background: #0a192f;
    color: #64ffda;
    border: 2px solid #64ffda;
  }

  .btn-color-2 {
    background: none;
  }

  .btn-color-2:hover {
    border: #e6f1ff 0.1rem solid;
  }
}
@media screen and (min-width: 600px) {
  #profile {
    margin-top: 200px;
    height: 83vh;
    margin-bottom: 3rem;
  }
  .btn-color-1,
  .btn-color-2 {
    border: #64ffda 0.1rem solid;
    color: #64ffda;
  }

  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }

  .btn-color-2:hover {
    background: #0a192f;
    color: #64ffda;
  }
  .btn-color-1 {
    background-color: #e6f1ff;
    color: #0a192f;
    border: 1px solid #64ffda;
  }
  .btn-color-1:hover {
    background: #0a192f;
    color: #64ffda;
    border: 2px solid #64ffda;
  }

  .btn-color-2 {
    background: none;
  }

  .btn-color-2:hover {
    border: #e6f1ff 0.1rem solid;
  }
}
