/*CSS VARIABLES FOR COLORS*/
:root {
  --text-color: #64ffda;
  --background-color: #0a192f;
  --accent-color: #64ffda;
  --highlight-color: #ccd6f6;
  --secondary-color: #8892b0;
  --border-color: #64ffda;
}

/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  height: auto;
}
h1 {
  color: rgba(240, 240, 240, 0.9);
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--background-color);
}
p {
  color: var(--text-color);
  margin: 10px;
}
::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}
/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
#desktop-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: 0px 10px 10px rgba(5, 235, 182, 0.1);
}
#desktop-nav .logo {
  margin-left: 20px;
}
.logo-img {
  height: 100px;
  width: 100px;
}
nav,
.nav-links {
  display: flex;
  color: var(--text-color);
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 13vh;
  color: var(--text-color);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}
.name {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}
.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  color: var(--text-color);
  background-color: var(--background-color);
  box-shadow: 0px 10px 10px rgba(100, 255, 218, 0.1);
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--background-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 100px;
  margin-bottom: 0;
}

.section__text {
  align-self: center;
  text-align: center;
  color: rgb(240, 240, 240);
}

.section__text__p1 {
  text-align: center;
  color: var(--text-color);
  margin: 10px;
}

.section__text__p2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  margin: 10px;
  color: var(--secondary-color);
  font-weight: 900;
}

.title {
  font-size: 3.5rem;
  text-align: center;
  color: var(--highlight-color);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
  background-color: var(--accent-color);
  border-radius: 52%;
  border: 1.5px solid var(--accent-color);
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--accent-color) 0.1rem solid;
  color: var(--accent-color);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2:hover {
  background: var(--background-color);
  color: var(--accent-color);
}
.btn-color-1 {
  background-color: var(--highlight-color);
  color: var(--background-color);
  border: 1px solid var(--accent-color);
}
.btn-color-1:hover {
  background: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: var(--highlight-color) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */
#about {
  position: relative;
}
.abt-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 35px;
  color: var(--highlight-color);
}
.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}
.exp-edu {
  margin: 1rem;
}
.strong {
  color: var(--highlight-color);
}
.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  color: var(--highlight-color);
  border-radius: 2rem;
  border: var(--border-color) 0.1rem solid;
  text-align: center;
}
.details-container p {
  color: var(--secondary-color);
}
.section-container {
  gap: 4rem;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container p {
  text-align: justify;
  color: var(--secondary-color);
  font-size: 1.2rem;
  line-height: 1.5;
}

/* EXPERIENCE SECTION */
#experience {
  position: relative;
}
.exp-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 35px;
  color: var(--highlight-color);
}
.experience-sub-title {
  color: var(--highlight-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
#projects {
  position: relative;
}
.prj-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 35px;
  color: var(--highlight-color);
}
.color-container {
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: transparent;
}

.color-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.project-img {
  border-radius: 1rem;
  width: auto;
  height: 200px;
}

.project-title {
  margin: 1rem;
  color: var(--highlight-color);
}

.project-btn {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.project-text-container {
  text-align: center;
}

.project-text-container ul,
.project-text-container ol {
  list-style-position: inside;
  margin: auto;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 15px;
  margin-top: 15px;
}

.project-text-container p {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.cnt-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 35px;
  color: var(--highlight-color);
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid var(--accent-color);
  background: (230, 230, 230);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  height: 5vh;
}

footer p {
  text-align: center;
  padding-bottom: 0%;
  color: var(--secondary-color);
}

/* AUTHOR : ASHIK IBRAHIM S */
