/* General */
:root {
  --highlight-color: #ccd6f6;
  --secondary-color: #8892b0;
  --border-color: #64ffda;
  --background-color: #0a192f;
  --text-color: #64ffda;
  --accent-color: #64ffda;
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: auto;
  scroll-behavior: smooth;
}
h1 {
  color: #f0f0f0e6;
}
body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif !important;
}
p {
  color: var(--text-color);
  margin: 10px;
}
::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}
.btn,
a {
  transition: all 0.3s ease;
}

/* Desktop Nav */
#desktop-nav {
  background-color: var(--background-color);
  color: var(--text-color);
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#desktop-nav .logo {
  margin-left: 20px;
}

.nav-links,
nav {
  display: flex;
  color: var(--text-color);
}

nav {
  align-items: center;
  height: 13vh;
  justify-content: space-around;
}

.nav-links {
  font-size: 1.5rem;
  gap: 2rem;
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--highlight-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:hover {
  color: var(--highlight-color);
}

a:focus {
  transform: scale(0.9);
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}

.name {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}
.logo:hover {
  cursor: default;
}

/* Hamburger nav */
#hamburger-nav {
  background-color: var(--background-color);
  color: var(--text-color);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;
}
.hamburger-menu {
  display: inline-block;
  position: relative;
}
.hamburger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  width: 30px;
}
.hamburger-icon:active {
  transform: scale(0.9);
}
.hamburger-icon span {
  background-color: var(--accent-color);
  height: 2px;
  transition: all 0.3 ease-in-out;
  width: 100%;
}
.menu-links {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all 0.3s ease-in-out;
  width: fit-content;
}
.menu-links a {
  color: var(--background-color);
  display: block;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links a:active {
  background-color: var(--accent-color);
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  opacity: 1;
  transform: none;
}

/* Profile section */
section {
  box-sizing: border-box;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
  padding-top: 4vh;
}
#profile,
.section-container {
  display: flex;
}
#profile {
  gap: 5rem;
  justify-content: center;
  margin: 20px 0;
}
.section__text {
  align-self: center;
  color: #f0f0f0;
  text-align: center;
}
.section__text__p1 {
  color: var(--text-color);
  margin: 10px;
  text-align: center;
}
.section__text__p2 {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 900;
  margin: 10px;
}
.title {
  color: var(--highlight-color);
  font-size: 3.5rem;
  text-align: center;
}
#socials-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

/* Skills section */
.icon {
  cursor: pointer;
}
.check,
.edu,
.exp,
.icon {
  background-color: var(--accent-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 52%;
  height: 2rem;
  width: 2rem;
  color: var(--background-color);
}
.exp-icon {
  border: 1.5px solid var(--background-color);
  color: var(--accent-color);
  border-radius: 52%;
  height: 2rem;
}
.ejs {
  padding: 5px;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
}
.ejs,
.ex,
.pg,
.rst {
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--background-color) !important;
  cursor: default;
  display: flex;
  font-weight: 900;
  justify-content: center;
}
.ex,
.pg,
.rst {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
img {
  object-fit: cover;
}
.exp-logo {
  height: 2rem;
}
.icon:active {
  transform: scale(0.9);
}
.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn {
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem;
  transition: all 0.3s ease;
  width: 8rem;
}
.btn:active {
  box-shadow: var(--highlight-color) 0 7px 1px 0;
}
.btn-color-1 {
  background-color: var(--highlight-color);
  border: 0.05px solid var(--accent-color) !important;
  color: var(--background-color);
}
.btn-color-1:hover {
  background: var(--background-color);
}
.btn-color-1:hover,
.btn-color-2 {
  color: var(--accent-color);
}
.btn-color-2 {
  border: 0.05px solid var(--accent-color) !important;
}
.btn-color-2:hover {
  background: var(--background-color);
  border-color: var(--highlight-color);
  color: var(--accent-color);
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}
/* About section */
#about {
  position: relative;
}
.abt-title {
  color: var(--highlight-color);
  font-size: 3rem;
  margin-bottom: 35px;
  text-align: center;
}
.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}
.about-details-container {
  flex-direction: column;
  justify-content: center;
}
.about-containers,
.about-details-container {
  display: flex;
}
.exp-edu {
  margin: 1rem;
}
.edu,
.exp {
  cursor: default;
}

.strong {
  color: var(--highlight-color);
}
.arrow {
  bottom: 2.5rem;
  position: absolute;
  right: -5rem;
}
.details-container,
.prj-details-container {
  /* border: 0.03rem solid var(--border-color); */
  box-shadow: 0px 4px 8px rgba(100, 255, 218, 0.4),
    0px 0px 0px 1px rgba(100, 255, 218, 0.4);
  border-radius: 0.8rem;
  color: var(--highlight-color);
  flex: 1 1;
  padding: 1.5rem;
  text-align: center;
}
.prj-details-container {
  box-shadow: 0px 4px 8px rgba(100, 255, 218, 0.4),
    0px 0px 0px 1px rgba(100, 255, 218, 0.4);

  transition: transform 0.3s linear;
}
.details-container p,
.text-container p,
.project-text-container p,
.project-text-container ol,
.project-text-container ul {
  color: var(--secondary-color);
}
.section-container {
  gap: 4rem;
}
.section__pic-container {
  height: 400px;
  margin: auto 0;
  width: 400px;
}
.text-container p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}
#experience,
#projects,
#contact {
  position: relative;
  top: 100px;
}
.exp-title,
.prj-title,
.cnt-title {
  color: var(--highlight-color);
  font-size: 3rem;
  margin-bottom: 35px;
  text-align: center;
}
.experience-sub-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--highlight-color);
}
.experience-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-container,
article {
  display: flex;
  justify-content: space-around;
}
.article-container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  text-align: center;
}
article {
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
}
article .icon,
.check {
  cursor: default;
}
.color-container {
  background-color: initial;
  border: #0000;
  transition: background-color 0.3s ease;
}
.project-img {
  border-radius: 0.5rem;
  height: 300px;
  width: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.project-title {
  color: var(--highlight-color);
  margin: 1rem;
}
.project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.05rem solid var(--accent-color);
  color: var(--accent-color);
  margin-top: 1rem;
}
.project-btn:hover {
  background-color: var(--highlight-color) !important;
  color: var(--background-color) !important;
}
.project-text-container {
  text-align: center;
}
.prj-p,
.p-detail {
  font-size: 14px !important;
  text-align: center;
  color: var(--secondary-color);
}

.btn-text {
  margin-left: 5px;
}

/* Contact section */
#contact {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}
.contact-info-upper-container {
  background: (230, 230, 230);
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.contact-info-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2px;
}
.mail {
  background-color: var(--background-color);
  color: var(--accent-color);
  padding: 15px 24px;
  border: 0.05px solid var(--accent-color) !important;
  border-radius: 0.5rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif !important;
  cursor: pointer;
}
.mail:hover {
  background: var(--highlight-color);
  color: var(--background-color);
}

.contact-info-container p {
  font-size: larger;
}
.contact-icon {
  cursor: pointer;
}
.cnt-a {
  letter-spacing: 0.1px;
}

/* Footer Section */
#footer {
  margin-top: 50px;
  height: auto;
  position: relative;
}
#footer p {
  color: var(--secondary-color);
  font-size: 1rem !important;
  text-align: center;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.up-arrow {
  background-color: var(--accent-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 52%;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: var(--background-color);
  transition: transform 0.3s;
}

.up-arrow:hover {
  animation: moveUpDown 1s 50;
}

.up-arrow:active {
  letter-spacing: 0.6px;
  transform: scale(0.9);
}

/* Media Queries */

@media screen and (min-width: 1440px) {
  #contact {
    display: flex;
    flex-direction: column;
    margin-top: 50rem;
    padding: 2rem;
    height: auto;
    min-height: 70vh;
    justify-content: center;
  }

  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .contact-info-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .mail {
    background-color: var(--background-color);
    color: var(--accent-color);
    padding: 15px 24px;
    border: 0.05rem solid var(--accent-color) !important;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 0.5rem;
  }

  .mail:hover {
    background: var(--highlight-color);
    color: var(--background-color);
  }

  .contact-info-container p {
    font-size: larger;
  }

  .contact-icon {
    cursor: pointer;
  }

  .cnt-a {
    letter-spacing: 0.1px;
  }
}

@media screen and (max-width: 1400px) {
  .abt-title,
  .cnt-title,
  .exp-title,
  .prj-title {
    font-size: 2rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .p-detail {
    text-align: center;
  }
  .btn-color-1,
  .btn-color-2 {
    border: 0.1rem solid var(--accent-color);
    color: var(--accent-color);
  }
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  .btn-color-2:hover {
    background: var(--background-color);
    color: var(--accent-color);
  }
  .btn-color-1 {
    background-color: var(--highlight-color);
    border: 1px solid var(--accent-color);
    color: var(--background-color);
  }
  .btn-color-1:hover {
    background: var(--background-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }
  .btn-color-2 {
    background: none;
  }
  .btn-color-2:hover {
    border: 0.1rem solid var(--highlight-color);
  }
  .btn:active {
    box-shadow: var(--highlight-color) 0 7px 1px 0;
  }
  footer {
    height: 15vh;
  }
  footer p {
    color: var(--secondary-color);
    font-size: 1rem !important;
    padding: 1rem;
    text-align: center;
  }
  hr {
    color: var(--accent-color) !important;
  }
}
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  .section-container,
  section {
    height: fit-content;
  }
  .abt-title,
  .cnt-title,
  .exp-title,
  .prj-title {
    font-size: 2rem;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    height: 275px;
    margin: 0 auto 2rem;
    width: 275px;
  }
  .about-containers {
    margin-top: 0;
  }
  #profile {
    margin-bottom: 0;
    margin-top: 20px;
  }
  .btn-color-1,
  .btn-color-2 {
    border: 0.1rem solid var(--accent-color);
    color: var(--accent-color);
  }
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  .btn-color-2:hover {
    background: var(--background-color);
    color: var(--accent-color);
  }
  .btn-color-1 {
    background-color: var(--highlight-color);
    border: 1px solid var(--accent-color);
    color: var(--background-color);
  }

  .btn-color-1:hover {
    background: var(--background-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }
  .btn-color-2 {
    background: none;
  }
  .btn-color-2:hover {
    border: 0.1rem solid var(--highlight-color);
  }
  .btn:active {
    box-shadow: var(--highlight-color) 0 7px 1px 0;
  }
  footer {
    height: 15vh;
    margin-top: 6rem;
  }
  footer nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 600px) {
  #contact {
    height: 40vh;
  }
  #profile {
    margin-bottom: 0;
    margin-top: 20px;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 2rem;
  }
  .abt-title,
  .cnt-title,
  .exp-title,
  .prj-title {
    font-size: 2rem;
  }
  .about-containers,
  .btn-container,
  .contact-info-upper-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    height: 46vw;
    justify-content: center;
    width: auto;
  }
  .section__text__p2 {
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .btn-color-1,
  .btn-color-2 {
    border: 0.1rem solid var(--accent-color);
    color: var(--accent-color);
  }
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  .btn-color-2:hover {
    background: var(--background-color);
    color: var(--accent-color);
  }
  .btn-color-1 {
    background-color: var(--highlight-color);
    border: 1px solid var(--accent-color);
    color: var(--background-color);
  }
  .btn-color-1:hover {
    background: var(--background-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }
  .btn-color-2 {
    background: none;
  }
  .btn-color-2:hover {
    border: 0.1rem solid var(--highlight-color);
  }
  .email-icon {
    background-color: var(--accent-color);
  }
  .btn:active {
    box-shadow: var(--highlight-color) 0 7px 1px 0;
  }
}
@media screen and (min-width: 600px) {
  #profile {
    height: 83vh;
    margin-top: 20px;
  }
  .btn-color-1,
  .btn-color-2 {
    border: 0.1rem solid var(--accent-color);

    color: var(--accent-color);
  }
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  .btn-color-2:hover {
    background: var(--background-color);

    color: var(--accent-color);
  }
  .btn-color-1 {
    background-color: var(--highlight-color);

    border: 1px solid var(--accent-color);

    color: var(--background-color);
  }
  .btn-color-1:hover {
    background: var(--background-color);

    border: 2px solid var(--accent-color);

    color: var(--accent-color);
  }
  .btn-color-2 {
    background: none;
  }
  .btn-color-2:hover {
    border: 0.1rem solid var(--highlight-color);
  }
  .btn:active {
    box-shadow: var(--highlight-color) 0 7px 1px 0;
  }
}
@media (max-width: 425px) {
  #contact {
    margin-top: 5rem;
  }
}
